.imageCry {
    transform: scale(2.7);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    align-self  : center;
    justify-self: center;
}

.image:hover{
    cursor: pointer;
}